.DS_Store
node_modules
/dist
# /libs
# /@types
/coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src
/tests
/.github
vite.config.ts
.browserslistrc
jest.config.js
tsconfig.json
tsconfig.lib.json
yarn.lock
package-lock.json
.nvmrc
.npmrc

